<%= render "forms/navbar"%>
<div class="recipe-detail">
        <h2 class="recipe-title"><%= @recipe.name%></h2>
        <div class="detail">
            <div class="detail-item">
                <div>
                    <p>Preparation time : <%= @recipe.preperation_time%> hour</p>
                    <p>Cooking time : <%= @recipe.cooking_time%> hour</p>
                    <p class="rcp-step">Steps goes here. . .</p>
                </div>
                <%= form_with(model: @recipe, url: recipe_path(@recipe), method: :patch, id: 'recipe-form') do |form| %>
                <div class="custom-control custom-switch">
                        <%= form.check_box :public, class: "custom-control-input", id: "customSwitch1", data: { public: @recipe.public }  %>
                        <label class="custom-control-label" for="customSwitch1">Public </label>
                </div>
                <% end %>
            </div>
            <div class="buttons">
                    <button><%= link_to "Generate shopping list", url_for(general_shopping_list_path(id: @recipe.id)) %></button>
                    <button><%= link_to "Add ingredient" , "#{@recipe.id}/recipe_foods/new" %></button>
            </div>
        </div>
        <table>
            <tr>
                <th>Foods</th>
                <th>Quantity</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
           <%@recipe.recipe_foods.includes(:food).each do |food| %>
                <tr>
                    <td><%= food.food.name %></td>
                    <td><%= food.food.quantity %> <%= food.food.measurement_unit %></td>
                    <td>$<%= food.food.price.to_i * food.food.quantity.to_i %></td>
                    <td class="remove-modify">
                        <%= link_to "Modify" %>
                        <span class="remove"><%= link_to "Remove" , "/recipes/#{@recipe.id}/recipe_foods/#{food.id}" , data: {turbo_method: :delete}  %></span>
                    </td>
                </tr>
           <%end%>
        </table>
</div>